--- drivers/staging/zram/Kconfig
+++ drivers/staging/zram/Kconfig
@@ -23,3 +23,10 @@
 	help
 	  This option adds additional debugging code to the compressed
 	  RAM block device driver.
+
+config ZRAM_FOR_ANDROID
+	bool "Optimize zram behavior for android"
+	depends on ZRAM && ANDROID
+	default n
+	help
+	  This option enables modified zram behavior optimized for android
